@charset "utf-8";
@import url('./../fonts/thsarabunnew.css');
@import url('./../fonts/prompt/prompt.css');
@import url('./../fonts/opensans/static/OpenSans/opensans.css');
@import 'theme';
@import 'mixin';
@import 'styles';
@import 'menufull';

// button
$maincolor: #f5f9e2;
$buttons: (primary, $maincolor, $primary, $primary),
        (success, $maincolor, $success, $success),
        (info, $maincolor, $info, $info),
        (warning, $maincolor, $warning, $warning),
        (danger, $maincolor, $danger, $danger),
        (default, $success, $default, $success);
@each $btn in $buttons {
  $btnName: nth($btn, 1);
  $btnColor: nth($btn, 2);
  $btnBg: nth($btn, 3);
  $BorderColor: nth($btn, 4);
  @include button($btnName, $btnColor, $btnBg, $BorderColor);
}

.tooltip-i {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}

.tooltip-i .tooltiptext {
  background: #F9F7F2;
  border-radius: 5px;
  visibility: hidden;
  width: 155px;
  // background-color: black;
  // color: #fff;
  text-align: center;
  // border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

  // font-family: 'Sukhumvit Set';
  font-family: $fontName;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-align: center;

  color: #646965;
}

.tooltip-i.tooltip-white .tooltiptext {
  background: #ffffff;
}

.tooltip-i .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #F9F7F2 transparent transparent transparent;
}

.tooltip-i.tooltip-white .tooltiptext::after {
  border-color: #ffffff transparent transparent transparent;
}

.tooltip-i:hover .tooltiptext {
  visibility: visible;
}
.dx-pager .dx-pages .dx-selection, .dx-pager .dx-page-sizes .dx-selection {
    color: #fff !important;
    background-color: #AE9355 !important;
}

.btn.btn-default.icon.btn-sm{
  border: 0px solid #AE934F !important;
  background-color: transparent  !important;
  padding: 3px 3px !important;
  i{
    font-size: 20px;
  }
}
.fix-bt{
  // position: absolute;
  // right: 18px;
  // top: 20px;
  padding-top: 20px;
}

.dx-header-row > td {
    // font-family: 'Sukhumvit Set';
    font-family: $fontName;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
    color: #646965;
}

/* CSS Document */
.wrapper-content-custom {
  padding: 10px 50px 50px 50px;
}

.header-main-text{
  margin-top:20px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height */
  color: #646965;

}
.navbar-top-links{
  padding-top: 10px;
}
.fontfooter small{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */


  color: #AE934F;
}

.control-label{
  font-style: normal;
  font-weight: 400;
  // font-size: 18px;
  // line-height: 29px;
  /* identical to box height */
  color: #646965;
}
.ibox-heading .ibox-title-text i {
    color: #AE934F;
}


.modal-dialog-custom {
  width: 600px;
  margin: 100px auto !important;
}

.modal-dialog-custom1 {
  width: 800px;
  margin: 20px auto !important;
}

.modal-dialog-custom2 {
  width: 650px;
  margin: 20px auto !important;
}

.modal-dialog-datetimepicker1 {
  width: 300px;
  margin: 20px auto !important;
}

.vertical-timeline-icon-permission {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  /*border: 3px solid #f1f1f1;*/
  text-align: center;
}
.font-yellow-w{
  font-family: 'DB Helvethaica X';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #AE934F;
}
.font-green-w{
  font-family: 'DB Helvethaica X';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #AE934F;
}
.font-red-w{
  font-family: 'DB Helvethaica X';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #AE934F;
}
.fontyellow {
  color: #FDB815 !important;
}

.fontwhite {
  color: #ffffff !important;
}

.bgyellow {
  // background-color: #FDB815;
  height: 200px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.bgbrown {
  background-color: #c9ab75;
  height: 80px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.bgpink {
  background-color: $themeBg;
  height: 80px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.bggreen {
  // background-color: #8ab43a;
  height: 200px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.bgred {
  // background-color: #ec4758;
  height: 200px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.modal-title-1{
  // font-family: 'Sukhumvit Set';
  // font-family: 'OpenSans';
  font-family: $fontName;
  font-style: normal;
  font-weight: 500;
  // font-size: 30px;
  // line-height: 36px;
  //
  // /* Black */
  //
  // color: #0D0D0D;
  // letter-spacing: 1.2px;
  // font-family: 'Open Sans';
  // font-style: italic;
  // font-weight: 300;
  font-size: 30px;
  line-height: 41px;

  /* Black */

  color: #0D0D0D;

}

.text-remark{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #FF0000;
}

.bgtablegray {
  background-color: #f9f9f9;
}

.btn-pm:hover, .btn-pm:focus, .btn-pm:active, .btn-pm.active, .open .dropdown-toggle.btn-pm, .btn-pm:active:focus, .btn-pm:active:hover, .btn-pm.active:hover, .btn-default.active:focus {
  background-color: #e1f5b9;
  color: #5d8c0e;

}

.fontred {
  color: #ec4758 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
  color: $themeBg;
}

.lineGG {
  border: solid $themeBg;
  border-width: 2px;
  width: 70px;
  margin-bottom: 20px;
}

.navy-bg {
  padding-top: 5px;
}
.modal-header p{
  // font-family: 'Sukhumvit Set';
  // font-family: "OpenSans";
  font-family: $fontName;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  // display: flex;
  align-items: center;
  text-align: center;

  color: #202020;
}

.table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > tr > th, .table-hover > tbody > tr:hover > .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr:hover {
  // background-color: $tableHoverColor;
  background-color: #ddd;
}

/*..table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover{
    background-color:#000;



}

table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover{
    background-color:#000;



}*/

.inmodal .modal-header1 {
  padding: 30px 15px;
  text-align: center;
}

.inmodal .modal-header2 {
  padding: 20px 15px;

}

.shadowrow {
  border-color: $themeIboxBorder;
  border-style: solid solid none;
  border-width: 5px 0 0;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-80 {
  margin-top: 80px;
}

.pagename-custom {
  padding-left: 60px;
  padding-right: 50px;
}

.bc {
  color: $themeActive;
}

.HeaderColor {
  width: 100%;
  background-color: $themeBgColor;
}

.heightlist {
  min-height: 620px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background-color: #8BC34A !important;
  color: $themecolorActive !important;
  border-color: #8BC34A !important;
}

.fonttextbox {
  color: #555555;
}

.fontlink {
  color: $themeBg;
}

.fontlink:hover {
  color: $themeBg;
}

.fontclose {
  color: #C00632;
}

.fontselect {
  color: #8AB43A;
}

div.dataTables_wrapper div.dataTables_filter {
  display: none;
}

.vertical-timeline-icon {
  border: none !important;
}

.label-active {
  background-color: #7bb418;
  color: #FFFFFF;
  padding-left: 12px;
  padding-right: 12px;
}

.label-inactive {
  background-color: #c00632;
  color: #FFFFFF;
}

.borderprofile {
  border: 0.5px solid #fff;
  width: 100%;
  opacity: 0.1;
}

.bordercontent {
  margin-top: 15px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.nav-second-level > li.active > a {
  color: #001738;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.bgshadowx {
  width: 100%;
  background: black;
  opacity: 0.1;
  height: 5px !important;
  margin-left: 221px;
}

.bgshadowy {
  width: 5px !important;
  background: black;
  opacity: 0.1;
  height: 100%;
}

.imguserlogin {
  width: 55px;
  height: 55px;
  border: 3px solid #ffffff;
  margin-top: -20px;
}

.imguserlogin-nav {
  width: 45px;
  height: 45px;
  border: 1px solid #cccccc;
  margin-top: -10px;
}

.imgelement {
  width: 150px;
  height: 123px;
  border: 3px solid #ffffff;
}

.imgimp {
  width: 150px;
  height: 150px;
  border: 3px solid #ffffff;
}

.fontgroupname {
  font-size: 25px;
  font-weight: 500;

}

.fontuser {
  font-size: 20px;
  font-weight: 500;

}

.fonth4 {
  font-size: 15px;
}

.imgdescription {
  width: 120px;
  height: 120px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.fontdescription-2 {
  font-family: $fontName;
  font-size: 20px;
  color: #eaeaea;
}

.imggroup {
  width: 50px;
  height: 50px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.btnaction {
  display: inline-block;
  /*padding:12px 12px 12px 12px;*/
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  line-height: 1.42857143;
  border: 1px solid;
  border-radius: 0px;
}

.btnaction.active:active,
.btnaction.active:hover,
.btnaction.active:focus {
  border: 1px solid;
  border-radius: 3px;

}

.bggray {
  background-color: #cccccc;
  height: 80px;
  padding-top: 20px;
}

/*.img-circlegroupuser{
  width: 200px;
  height: 200px;
	border-radius: 50%;
}*/
.bgnone {
  background-color: transparent;
}

.fontbtn {
  font-family: $fontName;
  font-size: 12px;
  color: #ffffff;
}

.fontgroup-gray {
  font-family: $fontName;
  // font-size: 30px;
  // color: #eaeaea;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #646965;

}

.fontgroup-area {
  margin-top: 80px;
  margin-bottom: 30px;
}

.fontcreatepagename {
  font-family: $fontName;
  font-size: 18px;
  font-weight: 100;
  /*color:#78a817;*/
  color: #676A6C;
}

.ui-jqgrid .ui-jqgrid-title {
  margin-top: 8px !important;
  margin-left: 8px !important;
}

.fontpage {
  font-family: $fontName;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  position: relative;
  top: 5px;
}

.fontgreen {
  font-family: $fontName;
  font-size: 16px;
  font-weight: 100px;
  color: #8ab43a;
}

.fonttopic-modal {
  font-family: $fontName;
  font-size: 16px;
  font-weight: 100px;
  color: #001738;
}

.fontbrown {
  font-family: $fontName;
  font-size: 16px;
  font-weight: 100px;
  color: #c9ab75;
}

.fontpink {
  font-family: $fontName;
  font-size: 16px;
  font-weight: 100px;
  // color: $themeBg;
  color: #646965;
}

.fontname {
  color: #a2f600;
}

.fontfooter {
  color: #d6b9a2;
}

.linemenu {
  /*line-height:35px;*/
  line-height: 35px; /*OneSiam*/
}

.linepermission {
  line-height: 25px;
}

.bgmenu {
  clear: both;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-image: url(../img/bgmenu.png) repeat-x;
  background-repeat: no-repeat;
  position: absolute;
}

.hr-line-dashed-custom {
  border-top: 1px dashed #ccc;
  color: #000;
  height: 1px;
  margin: 10px 0;
}

.bgbreadcrumb {
  background-color: transparent;
  /**#E0E0E0;/
    padding-left:20px;
    padding-top:8px;
    padding-bottom:0px;
    border-radius:0px;
    width:100%;
 }
 .fontmenuicon{
     color:#ffffff; /*70a418*/
}

.bgmininavber {
  font-size: 40px;
  margin-top: 15px;
  color: #a2f600;
  height: 60px;
}

.nav-headerGreen {
  padding: 3px 35px 0px;
  /*background-color:#70a418;*/

}

.vertical-timeline-content-custom {
  margin-top: 10px;
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 10em;
  width: 200px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.nav-headerGreen a {
  /*color: #000000;*/
}

.nav-headerGreen .text-muted {
  color: #ffffff;
  opacity: 0.5;
}

body.mini-navbar .nav-headerGreen {
  padding: 0;
}

body.canvas-menu .nav-headerGreen {
  padding: 33px 25px;
}

body.mini-navbar.fixed-sidebar .nav-headerGreen {
  padding: 20px 25px;
}

.jstree-default .jstree-anchor {
  height: 40px !important;
}

.machinebox {
  width: 250px;
  height: 45px;
}

.lineip {
  line-height: 10pt
}

.fontcomponent {
  color: #ed5565;
  font-style: italic;
  margin-top: -10px;
}

/*------ button Small-----*/
.font-btn {
  font-size: 12px;
}

.width-btn-small {
  min-width: 85px;
}

/*------ icon button-----*/
.font-btn-text {
  font-size: 12px;
  padding: 8px 12px 8px 12px;

}

.btn-group-sm > .btn, .btn-sm {
  padding: 3px 10px 7px 10px !important;
}

.ibox-collapse {
  background-color: #f5f5f5;
  border-color: #dddddd;
  border-radius: 3px;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: #333333;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.i-checkboxchecks {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.i-checkboxchecks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /*background-color: #eee;*/
  margin-top: -7px;
  border: 1px solid #cccccc;
}

.i-checkboxchecks:hover input ~ .checkmark {
  background-color: #efebe5;
}

.i-checkboxchecks input:checked ~ .checkmark {
  background-color: $themeBg;
  font-family: cursive;
}

.i-checkboxchecks input:disabled ~ .checkmark {
  background-color: #cccccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.i-checkboxchecks input:checked ~ .checkmark:after {
  display: block;
}

.i-checkboxchecks .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The i-radiochecks */
.i-radiochecks {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.i-radiochecks input {
  position: absolute;
  opacity: 0;
}

.i-radiochecks input:disabled ~ .checkradio {
  background-color: #cccccc !important;
}

/* Create a custom radio button */
.checkradio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /*background-color: #eee;*/
  border-radius: 50%;
  margin-top: -7px;
  border: 1px solid #cccccc;
}

/* On mouse-over, add a grey background color */
.i-radiochecks:hover input ~ .checkradio {
  background-color: #efebe5;
}

/* When the radio button is checked, add a blue background */
.i-radiochecks input:checked ~ .checkradio {
  background-color: $themeBg;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.i-radiochecks input:checked ~ .checkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.i-radiochecks .checkradio:after {
  /*left: 9px;
  top: 9px;
  width: 7px;
  height: 7px;
  border: solid white;
  background-color: #ffffff;
  border-radius: 50%;*/
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.bg-condition {
  padding: 15px;
  border-radius: 3px;
  background-color: #fafafa;
}

.bgtopic-condition {
  color: #ffffff;
  background-color: #d6b9a2;
  border-color: #d6b9a2;
  padding: 15px;
  border-radius: 3px;

}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #d9d9d9 !important;
  background-color: transparent !important;
  border-color: #d9d9d9 !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/*-----------Login---------------*/
.ibox-contentloing {
  margin: 15px;
  padding: 30px 70px 15px 70px;
  border-image: none;
  // border-width: 1px 0;
  // background-color: #303E54;

  border: 2px solid #AE934F;
  border-radius: 15px;
}

.text-red-active{
  color:$danger !important;
}

.m-login__form{
      text-align: left;
      .text-h{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;

        color: #646965;
      }
      .text-h2{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: #646965;
      }
      .hr-line{
        border: 2px solid #E5E5E5;
        margin-top: 17px;
        margin-bottom: 30px;
      }
      .input-group{
        width: 100%;

        .form-control{
          border: 1px solid #8A998D ;
          border-radius: 5px;
        }
      }

}

.login-main-session{
  padding: 64px;
  background:#F0F0F0;
  .content{
      background: #FFFFFF;
      // padding-top: 40px;
      text-align: center;
  }
  .content-before{
    background: #AE934F;
    // content: "";
    height: 5px;
    // position: absolute;
    width: 100%;
    left: 0px;
  }
  .content-logo{
    margin-top: 38px;
    height: 120px;
    background: #F9F7F2;
    display: flex;
    img{
      margin: auto;
    }
  }

}

.iconlogin {
  color: #ffffff;
}

.bgiconlogin {
  background-color: #fb5373;
  border: 1px #fb5373 solid;
}

.fontlogin {
  color: #ffffff;
  font-size: $fontSize;
  font-weight: 100px;
  text-align: left;
}

.borderlogin {
  border: 1.5px solid #ffffff;
  width: 450px;
}

.icon-button-login {
  width: 20px;
  height: 20px;

}

.form-horizontal {
  .form-group {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.text-star {
  color: #e6f3ab;
}

.move {
  cursor: move;
}

// .dataTables_length {
// 	display: none;
// }

@media (max-width: 767px) and (min-width: 320px) {
  .wrapper-content-custom {
    padding: 10px 0px 50px 0px
  }
  .float-xs-left {
    float: left !important;
  }
  .float-xs-right {
    float: right !important;
  }
}

.soc-breadcrumb {
  padding-left: 60px;
  padding-right: 50px;
  @media (max-width: 767px) and (min-width: 320px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .align-self-center {
    align-self: center;
  }
  .d-flex {
    display: flex;
  }
  .soc-title {
    font-family: $fontName;
    margin-bottom: 0;
    // font-size: 24px;
    // font-weight: 700;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #646965;

    line-height: 2;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .breadcrumb {
    padding: 0;
    margin: 0;
    font-size: 13px;
    background: 0 0;
    li {
      margin: 5px 0;
      &.active {
        color: $danger;
        font-weight: 700;
      }
      a {
        font-family: $fontName;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #646965;
        text-decoration: none !important;
        i{
          color: #AE934F;
        }
      }

    }
  }
}

$screen-sm-min: 768px;
$shadow: 0 2px 3px rgba(0, 0, 0, .2);
$gray-border: darken(#f8f8f8, 10%);
$gray-light: rgba(0, 0, 0, .35);
$faded-yellow: lighten(#f1c40f, 40%);
@media (max-width: 767px) and (min-width: 320px) {
  .ibox-content {
    padding: 5px;
  }
  .table-responsive {
    border: none;
  }
  .table-wrapper {
    width: 100%;
    margin: 0 auto 0;
    max-height: 500px;
    overflow-y: scroll;
    position: relative;
    transition: all .2s ease-out;
    box-shadow: $shadow;
  }

  .card-list-table {
    table-layout: fixed;
    background: transparent;
    margin-bottom: 0;
    width: 100%;
    thead {
      display: none;
    }
    tbody tr {
      box-shadow: $shadow;
      background: #fff;
      border: none !important;
      cursor: pointer;
      display: block;
      padding: 15px 10px;
      margin: 0 0 10px 0;
      width: 100vw;
      &.dx-header-row:first-child {
        display: none;
      }
    }
    tbody td {
      border: none !important;
      display: block;
      padding-left: 140px !important;
      position: relative;
      text-align: left !important;
      &:first-of-type::after {
        visibility: hidden;
      }
      &:after {
        content: '';
        width: calc(100% - 30px);
        display: block;
        margin: 0 auto;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        top: -6px
      }
      &:before {
        font-size: $fontSize;
        content: attr(accesskey);
        display: table-cell;
        font-weight: 500;
        height: 100%;
        left: 15px;
        margin: auto;
        position: absolute;
        vertical-align: middle;
        white-space: nowrap;
        width: 100px;
        text-overflow: ellipsis;
      }
    }
    thead th {
      font-size: $fontSize;
      letter-spacing: .5pt;
    }
  }
}

.soc-news {
  padding: 17px 20px;
  border-left: 5px solid $danger;
  background: $themeBgColor;
  font-size: 16px;
  font-weight: 700;
  color: $default;
}

.soc-breadcrumb-news {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: 0 0;
  & > li + li:before {
    content: '|'
  }
  li {
    margin: 5px 0;
    &.active {
      color: $danger;
      font-weight: 700;
    }
    a {
      color: $themeBgColor;
    }
  }
}

.search-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgb(255, 255, 255);
  @media (max-width: 767px) and (min-width: 320px) {
    max-width: 100%;
    margin-bottom: 20px;
  }
  &.loading-search {
    &:after {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 999;
      height: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background-position: 0% 0%;
      background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
      background-size: 500% auto;
      -webkit-animation: gradient 3s linear infinite;
      animation: gradient 3s linear infinite;
    }
  }
  input {
    flex-grow: 1;
    color: #7881A1;
    font-size: 16px;
    line-height: 2.4rem;
    vertical-align: middle;
    border-style: none;
    background: transparent;
    outline: none;
  }
  button {
    color: #7881A1;
    font-size: 16px;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color .25s;
    border: none;
    background: transparent;
    outline: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: 100% 0
  }
}

#wrapper {
  overflow: hidden;
}

.wrapper-menu {
  margin: 40px 0;
  .section-title {
    a {
      font-size: 20px;
      font-style: normal;
      line-height: 32px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}

html, body {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.wrapper-content-custom {
  padding: 10px 50px 5px;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 10px 0px 5px;
  }
}

// .page-wrapper {
//   margin: 80px 0px 40px;
//   padding: 0;
//   height: calc(100vh - 180px);
//   @media (min-width: 320px) and (max-width: 767px) {
//     margin: 120px 0px 40px;
//     height: calc(100vh - 260px);
//   }
// }

#page-wrapper {
  padding: 0;
}

.body-small {
  &.mini-navbar {
    .footer {
      margin-left: 260px;
    }
  }
}

.navbar {
  &.navbar-static-top {
    position: fixed;
    width: calc(100% - 260px);
    margin-left: 15px;
    @media (min-width: 320px) and (max-width: 767px) {
      width: 100% !important;
    }
  }
}
.body-small {
  .footer {
    width: 100% !important;
    margin-left: 0px;
  }
}
.header-text-li{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height */


  color: #646965;
}
.nav>li>a .famenu {
  &.icon-hide-mini {
    display: block;
  }
  &.icon-show-mini {
    display: none;
  }
}
.mini-navbar {
  .nav {
    > li {
      a {
        .move {
          display: none;
          @media (min-width: 320px) and (max-width: 767px) {
            display: flex;
          }
        }
      }
    }
  }
  .nav>li>a .famenu {
    margin: 0 auto;
    @media (min-width: 320px) and (max-width: 767px) {
      margin-right: 15px;
      &.icon-hide-mini {
        display: block !important;
      }
      &.icon-show-mini {
        display: none !important;
      }
    }
    &.icon-hide-mini {
      display: none;
    }
    &.icon-show-mini {
      display: block;
    }
  }
  .footer {
    width: calc(100% - 70px);
    margin-left: 70px;
  }
}

.mini-navbar {
  .navbar-static-top {
    width: calc(100% - 70px);
  }
  .navbar-static-side {
    @media (min-width: 320px) and (max-width: 767px) {
      width: 260px !important;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    #page-wrapper {
      margin: 0 0 0 260px !important;
    }
    .navbar-default {
      .nav {
        li {
          &.nav-small-cap {
            display: flex !important;
          }
          a {
            span {
              display: flex !important;
              font-size: $fontSize;
            }
          }
        }
      }
    }
  }
}

.navbar-default {
  height: 100vh;
  .sidebar-collapse {
    height: 100vh;
  }
  .nav {
    li.nav-headerGreen {
      border-left: none;
    }
  }
}

// ibox
.ibox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-flow: column;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  .ibox-bg {
    position: relative;
    background-color: #FFF;
    flex: 1;
    width: 100%;
    box-shadow: inset 0 5px 0 0 #AE934F;
    .ibox-heading {
      padding: 15px 20px;
      border-bottom: 1px solid #E5E5E5;//1px solid #AE934F;
      // background: #AE934F;
      background-color: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      .ibox-title-text {
        margin: 0;
        // font-size: $fontSize;
        // font-weight: 800;
        // line-height: 1.5;
        flex: 1;
        float: left;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #646965;
        svg, i {
          font-size: 18px;
          vertical-align: middle;
          margin-right: 20px;
        }
      }
      .ibox-graph-info {
        // width: 250px;
        cursor: pointer;
        float: right;
        svg {
          font-size: 16px;
          vertical-align: middle;
        }
        .collapse-link{
          background: #AE934F;
        }
      }
    }
    .ibox-heading-total {
      padding: 30px 20px 0;
      background-color: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      .ibox-title-text {
        margin: 0;
        // font-size: $fontSize;
        // font-weight: 800;
        // line-height: 1.5;
        // font-family: 'Sukhumvit Set';
        font-family: $fontName;
        flex: 1;
        float: left;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height */


        color: #646965;

        svg {
          font-size: 18px;
          vertical-align: middle;
          margin-right: 20px;
        }
      }
    }
    .ibox-body {
      padding: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    .ibox-footer {
      padding: 15px 20px;
      border-top: 1px solid #f5f5f5;
      background-color: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      width: 100%;
      &.no-bg {
        padding: 15px 0px 15px 20px;
        background-color: #f3f3f4;
      }
      .ibox-footer-right {
        text-align: right;
        width: 100%;
      }
    }
  }
}

.bgLine {
  &::before {
    content: '';
    position: absolute;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
  }
}

.add-bt .btn-md{
  padding: 6px 10px !important;
  margin-right: 0px !important;
  svg, i {
    font-size: 16px;
  }
}

.dx-datagrid-table-fixed {
  .dx-header-row {
    td {
      .dx-datagrid-text-content {
        font-weight: bold;
        line-height: 30px;
      }
    }
  }
}

//css break-word
.wrapped-column {
  white-space: normal !important;
  word-wrap: break-word !important;
}
//page assign menu
.dx-treelist-rowsview.dx-treelist-nowrap .dx-treelist-table .dx-treelist-cell-expandable .dx-treelist-text-content{
  white-space: normal !important;
  word-wrap: break-word !important;
}

//header break-word
.dx-datagrid-nowrap .dx-header-row > td > .dx-datagrid-text-content{
  white-space: normal !important;
  word-wrap: break-word !important;
}

.dx-radiobutton-icon-checked .dx-radiobutton-icon-dot {
  background: $success !important;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
  background-color: $success !important;
}
body .ui-dropdown:not(.ui-state-disabled):focus {
  border-color: $themeBgColor !important;
}

.ant-message, .ant-modal {
  font-family: $fontName;
}

.ant-btn {
  border-radius: 0px !important;
}

.ant-btn-primary {
  background-color: $success !important;
  border-color: $success !important;
}

.ant-select {
  font-family: $fontName;
}
.ant-select-selection {
  border-radius: 0 !important;
}
.ant-select-open .ant-select-selection {
  border-color: $themeBgColor !important;
  box-shadow: 0 0 0 2px rgba(44, 59, 75, 0.2) !important;
}
.ant-select-selection:hover {
  border-color: $themeBgColor !important;
}
.ant-select-dropdown-menu-item-active, .ant-select-dropdown-menu-item:hover {
  background-color: $themeBgColor !important;
  color: $default !important;
}
.ant-select-dropdown-menu-item:last-child {
  border-radius: 0 !important;
}
.ant-radio-checked {
  .ant-radio-inner {
    border-color: $themeBgColor !important;
    &::after {
      background-color: $themeBgColor !important;
    }
  }
}
.ant-radio, .ant-radio-group, .ant-radio-wrapper, .ant-checkbox, .ant-checkbox-wrapper {
  font-family: $fontName;
  line-height: 35px !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $themeBgColor !important;
  border-color: $themeBgColor !important;
}
.ant-checkbox-input:focus+.ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
  border-color: $themeBgColor !important;
}

.dx-widget {
  font-family: $fontName;
}
.dx-texteditor-input {
  padding: 2px 12px !important;
  background: transparent !important;
  font-size: 13px  !important;
  border-radius: 0 !important;
}
.dx-dropdowneditor-button-visible .dx-texteditor-input {
  padding-right: 34px !important;
}
.dx-widget input, .dx-widget textarea {
  font-family: $fontName;
}
.dx-field input, .dx-field textarea {
  font-family: $fontName;
}
.dx-dropdowneditor-icon {
  border-radius: 0 !important;
}

.dx-colorview-apply-button{
  border: 1px solid #2b3a4a !important;
  background-color: #2b3a4a !important;
  color: #f5f9e2 !important;
  text-align: center;
  vertical-align: middle;
}

.dx-colorbox-input-container .dx-colorbox-input.dx-texteditor-input{
  padding-left: 40px !important;
}

.dx-texteditor-input {
  min-height: 32px !important;
}

#myModalDelete, #myModalDeleteAttachment, #myModalSuccessDelete, #myModalDeleteWarning, #myModalSuccess, #myModalEditSuccess, #myModalDbError, #myModalErrorDeleteButHaveMenuGroup, #myModalErrorDataExisted, #myModalWarning, #myModalError, #myModalReportWarning {
  z-index: 99998 !important;
}

.input-group-btn .btn {
  margin: 0 !important;
}

// boxImage
.box-avatar-image {
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 140px;
  background-color: rgba(#DDD, 0.7);
  overflow: hidden;
  img.view-image {
    object-fit: cover;
    object-position: top center;
    width: 160px;
    height: 140px;
  }
  .box-btn {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    .btn-add-img, .btn-edit-img, .btn-del-img {
      display: table-cell;
      padding: 8px;
      i {
        font-size: 16px;
        color: #FFF;
      }
    }
    .btn-add-img {
      width: 25%;
      background-color: rgba($success, 0.6);
      &:hover {
        background-color: rgba(darken($success, 5%), 0.6);
      }
    }
    .btn-edit-img {
      width: 25%;
      background-color: rgba($primary, 0.6);
      &:hover {
        background-color: rgba(darken($primary, 5%), 0.6);
      }
    }
    .btn-del-img {
      width: 25%;
      background-color: rgba($danger, 0.6);
      &:hover {
        background-color: rgba(darken($danger, 5%), 0.6);
      }
    }
  }
}

.dx-datagrid-headers, .dx-treelist-headers {
  color: $dark !important;
  font-style: normal;
  font-weight: 700;
  // font-size: 18px;
  // line-height: 29px;
  border-bottom: 1px solid #1a1a1a !important;
  td, td .dx-datagrid-text-content {
    // text-align: center !important;
  }
  .dx-datagrid-text-content {
    text-align: center !important;
  }
}
.dx-datagrid {
  color: $dark !important;
  font-weight: 500 !important;
}



$color-star: #fad000;
$header-shadow: 0 6px 8px 0 rgba(42, 28, 141, 0.17);
$color-main: #1a1a1a;

.wrapper-nav-header {
  box-shadow: $header-shadow;
  -webkit-box-shadow: $header-shadow;
  -moz-box-shadow: $header-shadow;
}

.text-star {
  color: $color-star;
}

.btn-slide {
  background-color: transparent;
  border-color: transparent;
  color: $color-main;
  &:hover, &:active, &:focus, &.active, &.open  {
    background-color: transparent;
    border-color: transparent;
    color: $color-main;
  }
}

.form-control, .single-line {
  // border-color: #1a1a1a !important;
}

.ant-radio-inner {
  // border-color: #1a1a1a !important;
}

.form-control.ng-invalid{
  // border-color: #FF0000 !important;
}

.dx-checkbox-icon {
  border-color: #1a1a1a !important;
}

.ant-checkbox-inner {
  border: 1px solid #1a1a1a !important;
}

.soc-breadcrumb .breadcrumb li.active {
  font-size: 15px;
  color: #4da785;
}

.dx-tab-text {
  color: $dark;
}

.dx-state-disabled.dx-widget, .dx-state-disabled .dx-widget,
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  opacity: 0.7 !important;
  background-color: #eee;
}
.dx-checkbox.dx-state-disabled {
  background-color: transparent !important;
  .dx-checkbox-icon {
    opacity: 1 !important;
    background-color: #f1f1ef !important;;
  }
  .dx-checkbox-text {
    opacity: 1 !important;
  }
}
.dx-switch {
    width: 62px !important;
    height: 29px !important;
}

.dx-switch-container {
    overflow: hidden;
    margin: 0 -6px 0 0;
    padding: 0 2px;
    height: 27px !important;
    border: 1px solid #ddd;
    border-radius: 15px !important;
}
.dx-switch-on-value{
  .dx-switch-container {
    background: #AE934F  !important;
  }
}
.dx-switch-on, .dx-switch-off {
    float: left;
    flex-shrink: 0;
    width: 50%;
    padding-right: 20px !important;
    line-height: 26px !important;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
.dx-switch-on {
    color: #fff !important;
}
.dx-switch-off {
    // color: #fff !important;
}
.dx-switch-handle {
  position: relative;
  float: left;
  flex-basis: 23px !important;
  flex-shrink: 0;
  width: 23px !important;
  height: 23px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  box-sizing: border-box;

}
.dx-switch-on-value .dx-switch-handle:before {
    // background-color: #fff !important;
}

.dx-switch-handle:before {
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    border-radius: 15px !important;
    border:1px solid #ddd;
}

input, select, textarea {
  color: $dark;
}

.red {
  color: $danger !important;
}

.dx-pivotgrid .dx-pivotgrid-area td {
  color: $dark !important;
}

.dx-widget { color: $dark !important; }

.has-error .form-control {
  border-color: #ed5565 !important;
}

.has-error .form-control[disabled] {
  border-color: #8A998D !important;
}

.has-error-disable .form-control[disabled] {
  border-color: #ed5565 !important;
}

.dx-colorview-apply-button.dx-widget {
  color: #f5f9e2 !important;
}

.iframe-box {
  width: 100%;
  height:calc(100vh - 110px);
  background-color: #fff6ef;
  @media (max-width: 767px) and (min-width: 320px) {
    height:calc(100vh - 55px);
  }
}

.iframe-home {
  width: 100%;
  height:calc(100vh - 130px);
  background-color: #fff6ef;
  @media (max-width: 767px) and (min-width: 320px) {
    height:calc(100vh - 55px);
  }
}

.navbar.navbar-static-top {
  @media (max-width: 998px) and (min-width: 768px) {
    width: 100% !important;
  }
}

.has-error .dx-texteditor {
  border-color: #ed5565 !important;
}

.has-error .dx-texteditor.dx-state-disabled {
  border-color: #8A998D !important;
}

.text-print {
  font-size: 13px;
  color: black;
}

.text-print-title {
  font-size: 13px;
  color: black;
  font-weight: bold;
}
.text-print-logo {
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.border-th {
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
}

#uploadPicture .div-content-upload {
  height: 36px;
  padding: 6px 9px;
  width: 100%;
  border: 1px solid #8A998D;
  border-radius: 5px;
}

#uploadPicture .upload-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70px;
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 4px;
}

#uploadPicture .upload-bt {
  height: 24px;
  background: #AE934F;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 2px 8px;
  float: right;
  color: #FFFFFF;
  width: 55px;
}
