<div class="row" style="width: 50%" *ngIf="loading">
  <div class="spiner-example-detail">
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>
  </div>
</div>

<div class="row wrapper white-bg page-heading bgnone" *ngIf="!loading">

  <div class="soc-breadcrumb">
    <div class="row">
      <div class="col-md-8 col-xs-12 align-self-center">
        <h4 class="soc-title">Orders</h4>
        <div class="d-flex align-items-center" style="margin-top: -10px;">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a (click)="goHomeMenu()"><i class="fas fa-folder-open mr-10"></i>Order Management</a>
              </li>
              <li class="breadcrumb-item active">
                Orders
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 align-self-center text-right fix-bt">
        <!-- <button id="btnDownloadTemplate" style="padding: 5px 10px !important;" name="btnDownloadTemplate" class="btn btn-success float-xs-left" data-toggle="tooltip" data-placement="top" title="Download Template" (click)="fnDownloadTemplate()">
            <img src="assets/icon-md/c4.svg" alt="">
          </button>
          <button id="btnUploadTemplate" style="padding: 5px 10px 5px 5px !important;" name="btnUploadTemplate" class="btn btn-success float-xs-left" data-toggle="tooltip" data-placement="top" title="Import">
            <label style="margin-bottom:0 !important">
              <img src="assets/icon-md/c5.svg" alt="">
              <input type="file" id="file" style="display: none" name="image" accept=".xlsx" multiple="false" (change)="onFileChange($event,0,'add')">
            </label>
          </button> -->
        <button *ngIf="menuPermissions.view" id="btnExportAll" name="btnExportAll" class="btn btn-success float-xs-left"
          data-toggle="tooltip" data-placement="top" title="Export" (click)="onClickExportAll()">
          <span>Export</span>
        </button>
        <button *ngIf="menuPermissions.view" [routerLink]="['/order-management/all-orders']" id="btnViewAllOrders"
          name="btnViewAllOrders" class="btn btn-success float-xs-left" data-toggle="tooltip" data-placement="top"
          title="View All Orders">
          <span>View All Orders</span>
        </button>
      </div>
    </div>
  </div>

</div>

<div class="wrapper wrapper-content-custom  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-bg">
          <div class="ibox-heading">
            <h5 class="ibox-title-text"><i class="fas fa-filter"></i>Filter</h5>
            <div class="ibox-graph-info collapse-link" #collapseLink (click)="clickCollapse()">
              <i class="far fa-chevron-down"></i>
            </div>
          </div>
          <div class="ibox-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="panel-body">
                  <form method="get" class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">HN</label>
                      <div class="col-sm-3">
                        <input id="txtHn" name="txtHn" maxlength="50" type="text" class="form-control"
                          [(ngModel)]="filter.hn">
                      </div>
                      <label class="col-sm-2 control-label">Patient Name</label>
                      <div class="col-sm-3">
                        <input id="txtPatientName" name="txtPatientName" maxlength="255" type="text"
                          class="form-control" [(ngModel)]="filter.patientName">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Delivery Date From</label>
                      <div class="col-sm-3">
                        <dx-date-box style="width: 100%;" [openOnFieldClick]="true" [acceptCustomValue]="false"
                          class="form-control cus-datebox" type="date" displayFormat="dd/MM/yyyy"
                          [(ngModel)]="filter.deliveryDateFrom" name="dateDeliveryDateFrom"
                          (onValueChanged)="onValueChanged($event,'dateFrom')"></dx-date-box>
                      </div>
                      <label class="col-sm-2 control-label">Delivery Date To</label>
                      <div class="col-sm-3">
                        <dx-date-box style="width: 100%;" [openOnFieldClick]="true" [acceptCustomValue]="false"
                          class="form-control cus-datebox" type="date" displayFormat="dd/MM/yyyy"
                          [(ngModel)]="filter.deliveryDateTo" name="dateDeliveryDateTo"
                          (onValueChanged)="onValueChanged($event,'dateTo')"></dx-date-box>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Order Status</label>
                      <div class="col-sm-3">
                        <select style="margin-top: 8px;min-width: 200px;" name="ddlStatus" id="ddlStatus"
                          class="form-control" [(ngModel)]="filter.orderStatus">
                          <option selected="selected" [value]="''">Please select</option>
                          <option *ngFor="let item of statusList" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-footer">
            <div class="ibox-footer-right">
              <button title="Search" (click)="clickSearch()" class="btn btn-success btn-md mr-10"
                *ngIf="menuPermissions.view">
                <span>Search</span>
              </button>
              <button title="Clear" (click)="clickClear()" class="btn btn-default btn-md" *ngIf="menuPermissions.view">
                <span>Clear</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="text-align: center; background-color: #F9F7F2; margin-top: 5px;">
    <ul class="nav navbar-nav">
      <li (click)="changeTab(0)" [ngClass]="{'active':tabIndex===0}"><a class="navbar-brand"><span class="control-label"
            style="margin-top: 10px;">Pending</span></a>
      </li>
      <li (click)="changeTab(1)" [ngClass]="{'active':tabIndex===1}"><a class="navbar-brand"><span class="control-label"
            style="margin-top: 10px;">Delivered</span></a></li>

    </ul>

  </nav>

  <!-- <nz-tabset nzType="card" [(nzSelectedIndex)]="tabIndex"> -->
  <!-- <nz-tab nzTitle="Pending" (nzClick)="changeTab()"> -->
  <div *ngIf="tabIndex === 0" class="row">
    <div class="col-sm-12">
      <div class="ibox mb-0">
        <div class="ibox-bg" style="box-shadow : none !important;">
          <div class="ibox-heading-total" style="padding-top: 10px !important;">
            <div class="col-sm-12">
              <h5 class="ibox-title-text mb-10">{{textTotal}}</h5>
            </div>
            <!-- <div class="col-sm-6 form-inline text-right" style="padding-right: 0;">
              <div class="form-group mb-10" style="margin-top: -7px">
                <label class="control-label mr-5" style="margin-top: 12px; font-size:16px">Order Status</label>
                <select style="margin-top: 8px;min-width: 200px;" name="ddlStatus" id="ddlStatus"
                        class="form-control" [(ngModel)]="orderStatus">
                  <option selected="selected" [value]="''">Please select</option>
                  <option *ngFor="let item of statusList" [value]="item">{{ item }}</option>
                </select>
              </div>
              <button *ngIf="menuPermissions.view" id="btnExportPending" style="padding: 5px 10px !important; margin-top: -4px !important;" name="btnExportPending"
                      class="btn btn-success float-xs-left" data-toggle="tooltip" data-placement="top"
                      title="Export"
                      (click)="onClickExport()">
                <img src="assets/icon-md/c5.svg" alt="">
              </button>
            </div> -->
          </div>
          <div class="ibox-body" style="padding-top: 0 !important;">
            <!--[selectedRowKeys]="selectRowKeyId" (onInitialized)="onInitialized($event)" (onSelectionChanged)="selectRow($event)"-->
            <div class="table-responsive table-wrapper">
              <dx-data-grid #gridDataPendingOrders id="gridDataPendingOrders" [(dataSource)]="dataPendingOrders"
                showBorders="false" [hoverStateEnabled]="true" noDataText="No data" [rowAlternationEnabled]="true"
                [columnAutoWidth]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPrepared($event)"
                (onCellPrepared)="onCellPrepared($event)" class="card-list-table"
                (onOptionChanged)="changePageIndex($event)">
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-paging [pageSize]="dxgridPageSize" [pageIndex]="pageIndex"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="allowedPageSizes" [showInfo]="false"
                  [visible]="true" [showNavigationButtons]="true">
                </dxo-pager>
                <dxo-scrolling showScrollbar="onHover"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-remote-operations [sorting]="true" [paging]="true">
                </dxo-remote-operations>

                <!--<dxi-column dataField="no" dataType="number" caption="No." alignment="left" width="10%"></dxi-column>-->
                <dxi-column caption="No" cellTemplate="cellTemplateNo" [allowSorting]="false" [width]="50"
                  alignment="center"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplateNo'" style="text-align: center;"
                  title="{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}">
                  <span>{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}</span>
                </div>

                <dxi-column dataField="order.orderId" dataType="string" caption="Order ID" alignment="center"
                  calculateSortValue="orderId"></dxi-column>
                <dxi-column dataField="order.hn" dataType="string" caption="HN" calculateSortValue="hn"></dxi-column>
                <dxi-column dataField="order.patientName" dataType="string" caption="Patient Name"
                  calculateSortValue="patientName"></dxi-column>
                <dxi-column dataField="order.locationDetail" dataType="string" caption="Location Detail"
                  calculateSortValue="locationDetail"></dxi-column>
                <dxi-column dataField="patientItem" dataType="string" caption="Item"
                  calculateSortValue="item"></dxi-column>
                <dxi-column dataField="deliveryDate" dataType="string" caption="Delivery Date"></dxi-column>
                <dxi-column dataField="arrivalTimeName" dataType="string" caption="Arrival Time"
                  calculateSortValue="arrivalTime"></dxi-column>
                <dxi-column [width]="180" dataField="cashierDeliNote" dataType="string" caption="Delivery Note"
                  calculateSortValue="cashierDeliNote">
                </dxi-column>
                <dxi-column dataField="deliveryMethodName" dataType="string" caption="Delivery Method"
                  calculateSortValue="deliveryMethod"></dxi-column>
                <dxi-column [width]="180" dataField="csReason" dataType="string" caption="Reason"
                  calculateSortValue="csReason">
                </dxi-column>
                <dxi-column dataField="deliveryStatusName" dataType="string" caption="Order Status"
                  calculateSortValue="deliveryStatus"></dxi-column>
                <dxi-column dataField="updatedAt" caption="Updated At" sortOrder="desc" cssClass="wrapped-column"
                  [width]="155" alignment="center"></dxi-column>
                <dxi-column dataField="" dataType="string" caption="Action" cellTemplate="cellTemplateViewGroups"
                  [width]="60" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplateViewGroups';let i=index;">
                  <span>
                    <a *ngIf="menuPermissions.view"
                      [routerLink]="['/order-management/orders-customer-service-view',data.data.deliveryDetailId,'view']"
                      id="btnView{{i}}" class="btn btn-default icon btn-sm" data-toggle="tooltip" data-placement="top"
                      title="View">
                      <i class="fas fa-eye"></i>
                    </a>
                  </span>
                </div>
              </dx-data-grid>
            </div>
          </div>
          <!--End List-->
        </div>
        <!--End ibox-content-->
      </div>
      <!--End ibox-->
    </div>
    <!--End col-sm-12-->
  </div>

  <div *ngIf="tabIndex === 1" class="row">
    <div class="col-sm-12">
      <div class="ibox mb-0">
        <div class="ibox-bg" style="box-shadow : none !important;">
          <div class="ibox-heading-total" style="padding-top: 10px !important;">
            <div class="col-sm-12">
              <h5 class="ibox-title-text mb-10">{{textTotal}}</h5>
            </div>
            <!-- <div class="col-sm-6 form-inline text-right" style="padding-right: 0;">
              <button *ngIf="menuPermissions.view" id="btnExportPending" style="padding: 5px 10px !important; margin-top: -4px !important;" name="btnExportPending"
                      class="btn btn-success float-xs-left" data-toggle="tooltip" data-placement="top"
                      title="Export"
                      (click)="onClickExport()">
                <img src="assets/icon-md/c5.svg" alt="">
              </button>
            </div> -->
          </div>
          <div class="ibox-body" style="padding-top: 0 !important;">
            <!--[selectedRowKeys]="selectRowKeyId" (onInitialized)="onInitialized($event)" (onSelectionChanged)="selectRow($event)"-->
            <div class="table-responsive table-wrapper">
              <dx-data-grid #gridDataPendingOrders id="gridDataPendingOrders" [(dataSource)]="dataPendingOrders"
                showBorders="false" [hoverStateEnabled]="true" noDataText="No data" [rowAlternationEnabled]="true"
                [columnAutoWidth]="true" [allowColumnResizing]="true" (onCellPrepared)="onCellPrepared($event)"
                class="card-list-table" (onOptionChanged)="changePageIndex($event)">
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-paging [pageSize]="dxgridPageSize" [pageIndex]="pageIndex"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="allowedPageSizes" [showInfo]="false"
                  [visible]="true" [showNavigationButtons]="true">
                </dxo-pager>
                <dxo-scrolling showScrollbar="onHover"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-remote-operations [sorting]="true" [paging]="true">
                </dxo-remote-operations>

                <!--<dxi-column dataField="no" dataType="number" caption="No." alignment="left" width="10%"></dxi-column>-->
                <dxi-column caption="No" cellTemplate="cellTemplateNo" [allowSorting]="false" [width]="50"
                  alignment="center"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplateNo'" style="text-align: center;"
                  title="{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}">
                  <span>{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}</span>
                </div>

                 <dxi-column dataField="order.orderId" dataType="string" caption="Order ID" alignment="center"
                  calculateSortValue="orderId"></dxi-column>
                <dxi-column dataField="order.hn" dataType="string" caption="HN" calculateSortValue="hn"></dxi-column>
                <dxi-column dataField="order.patientName" dataType="string" caption="Patient Name"
                  calculateSortValue="patientName"></dxi-column>
                <dxi-column dataField="order.locationDetail" dataType="string" caption="Location Detail"
                  calculateSortValue="locationDetail"></dxi-column>
                <dxi-column dataField="patientItem" dataType="string" caption="Item"
                  calculateSortValue="item"></dxi-column>
                <dxi-column dataField="deliveryDate" dataType="string" caption="Delivery Date"></dxi-column>
                <dxi-column dataField="arrivalTimeName" dataType="string" caption="Arrival Time"
                  calculateSortValue="arrivalTime"></dxi-column>
                <dxi-column [width]="180" dataField="cashierDeliNote" dataType="string" caption="Delivery Note"
                  calculateSortValue="cashierDeliNote">
                </dxi-column>
                <dxi-column dataField="deliveryMethodName" dataType="string" caption="Delivery Method"
                  calculateSortValue="deliveryMethod"></dxi-column>
                <dxi-column [width]="180" dataField="csReason" dataType="string" caption="Reason"
                  calculateSortValue="csReason">
                </dxi-column>
                <dxi-column dataField="deliveryStatusName" dataType="string" caption="Order Status"
                  calculateSortValue="deliveryStatus"></dxi-column>
                <dxi-column dataField="updatedAt" caption="Updated At" sortOrder="desc" cssClass="wrapped-column"
                  [width]="155" alignment="center"></dxi-column>
                <dxi-column dataField="" dataType="string" caption="Action" cellTemplate="cellTemplateViewGroups"
                  [width]="60" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplateViewGroups';let i=index;">
                  <span>
                    <a [routerLink]="['/order-management/orders-customer-service-view',data.data.deliveryDetailId,'view']"
                      id="btnView{{i}}" class="btn btn-default icon btn-sm" data-toggle="tooltip" data-placement="top"
                      title="View">
                      <i class="fas fa-eye"></i>
                    </a>
                  </span>


                </div>
              </dx-data-grid>
            </div>
          </div>
          <!--End List-->
        </div>
        <!--End ibox-content-->
      </div>
      <!--End ibox-->
    </div>
    <!--End col-sm-12-->
  </div>

  <!--End row-->
</div>
<!--End Wrapper-->

<app-alert #myModal (onCancelDelete)="onCancelDelete()" (onCloseModalError)="onCloseModalError()"
  (onDownload)="ondDownload()"></app-alert>

<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [(visible)]="isLoadingPanel" [showIndicator]="true" [showPane]="true"
  [shading]="true">
</dx-load-panel>