<div class="row" style="width: 50%" *ngIf="loading">
  <div class="spiner-example-detail">
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>
  </div>
</div>
<div class="row wrapper white-bg page-heading bgnone">
  <div class="soc-breadcrumb">
    <div class="row">
      <div class="col-md-8 col-xs-12 align-self-center">
        <h4 class="soc-title">Role</h4>
        <div class="d-flex align-items-center" style="margin-top: -10px;">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a (click)="goHomeMenu()"><i class="fas fa-folder-open mr-10"></i>Menu management</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/roles']">Role</a>
              </li>
              <li class="breadcrumb-item active">
                List of role
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 align-self-center text-right fix-bt">
        <button *ngIf="menuPermissions.add"
                [routerLink]="['/roles', menuId ,'list-of-groups', 'new']"
                id="btnCreateNewGroup" name="btnCreateNewGroup" class="btn btn-success float-xs-left"
                data-toggle="tooltip" data-placement="top" title="Create Role">
          <i class="fal fa-plus"></i><span>Create Role</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content-custom  animated fadeInRight">

  <div class="row">
    <div class="col-sm-12">
      <div class="ibox mb-0">
        <div class="ibox-bg">
          <div class="ibox-heading">
            <h5 class="ibox-title-text">Menu Name</h5>
            <div class="ibox-graph-info" style="width: 250px;">
              <input type="text" class="form-control" id="txtMicroserviceName" name="txtMicroserviceName"
                     [title]="getDataMicroserviceName" [(ngModel)]="getDataMicroserviceName"
                     disabled="true">
            </div>
          </div>
          <div class="ibox-heading-total">
            <h5 class="ibox-title-text">{{textTotal}}</h5>
            <div class="ibox-graph-info">
              <input #txtInputSearch type="text" id="txtInputSearch" class="form-control" value=""
                     style="width: 250px;float: right;margin-right: 2px;" name="txtInputSearch"
                     placeholder="" (keyup)="searchListApi()" [attr.disabled]="fnCheckDisableSearch()">
            </div>
          </div>
          <div class="ibox-body">
            <div class="table-responsive table-wrapper">
              <dx-data-grid #gridGroups id="gridGroups"
                            [(dataSource)]="dataGroups"
                            keyExpr="roleId"
                            showBorders="false"
                            [hoverStateEnabled]="true"
                            noDataText="No data"
                            [rowAlternationEnabled]="true"
                            [columnAutoWidth]="true"
                            [allowColumnResizing]="true"
                            [(hint)]="hoverTootip"
                            (onCellHoverChanged)="onCellHoverChanged($event)" 
                            class="card-list-table"
                            (onOptionChanged)="changePageIndex($event)">
                <dxo-paging [pageSize]="dxgridPageSize" [pageIndex]="pageIndex"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="allowedPageSizes"
                           [showInfo]="false" [visible]="true" [showNavigationButtons]="true">
                </dxo-pager>
                <dxo-scrolling showScrollbar="onHover"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-remote-operations [sorting]="true" [paging]="true">
                </dxo-remote-operations>

                <!--<dxi-column dataField="no" dataType="number" caption="No." alignment="left" width="10%"></dxi-column>-->
                <dxi-column caption="No" cellTemplate="cellTemplateNo" [allowSorting]="false"
                            [width]="50"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplateNo'" style="text-align: center;">
                  <span>{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}</span>
                </div>

                <dxi-column dataField="roleName" dataType="string" caption="Role Name"
                            align="left" width="100%"></dxi-column>
                <!--<dxi-column dataField="description" dataType="string" caption="Description"></dxi-column>-->
                <dxi-column dataField="updatedAt" caption="Updated At" sortOrder="desc"
                            cssClass="wrapped-column" [width]="150"></dxi-column>
                <dxi-column dataField="" dataType="string" caption="Action"
                            cellTemplate="cellTemplateViewGroups" [width]="155"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplateViewGroups';let i=index;"
                     style="text-align: center;">
                  <a *ngIf="menuPermissions.view"
                     [routerLink]="['/roles', menuId ,'list-of-groups', data.data.roleId , 'view']"
                     id="btnView{{i}}" class="btn btn-default icon btn-sm" data-toggle="tooltip"
                     data-placement="top" title="View" style="margin-left: 3px;">
                    <i class="fas fa-eye"></i>
                  </a>
                  <a *ngIf="menuPermissions.edit"
                     [routerLink]="['/roles',menuId ,'list-of-groups', data.data.roleId,'edit']"
                     id="btnEdit{{i}}" class="btn btn-default icon btn-sm  " data-toggle="tooltip"
                     data-placement="top" title="Edit" style="margin-left: 3px;">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a *ngIf="menuPermissions.delete"
                     (click)="confirmDelete(data.data.roleId)" id="btnDelete{{i}}"
                     class="btn btn-default icon btn-sm" data-toggle="modal" data-target="#myModal88"
                     data-placement="top" title="Delete" style="margin-left: 3px;">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-alert #myModal (onOkDelete)="onOkDelete()" (onCancelDelete)="onCancelDelete()"
           (onCancelViewWarning)="onCancelViewWarning()" (onCloseModalError)="onCloseModalError()"></app-alert>
