<div class="row" style="width: 50%" *ngIf="loading">
  <div class="spiner-example-detail">
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>
  </div>
</div>

<div class="row wrapper white-bg page-heading bgnone" *ngIf="!loading">

  <div class="soc-breadcrumb">
    <div class="row">
      <div class="col-md-8 col-xs-12 align-self-center">
        <h4 class="soc-title">Orders</h4>
        <div class="d-flex align-items-center" style="margin-top: -10px;">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a (click)="goHomeMenu()"><i class="fas fa-folder-open mr-10"></i>Order Management</a>
              </li>
              <li class="breadcrumb-item active">
                Orders
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="wrapper wrapper-content-custom  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-bg">
          <div class="ibox-heading">
            <h5 class="ibox-title-text"><i class="fas fa-filter"></i>Filter</h5>
            <div class="ibox-graph-info collapse-link" #collapseLink (click)="clickCollapse()">
              <i class="far fa-chevron-down"></i>
            </div>
          </div>
          <div class="ibox-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="panel-body">
                  <form method="get" class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">HN</label>
                      <div class="col-sm-3">
                        <input id="txtHn" name="txtHn" maxlength="50" type="text" class="form-control">
                      </div>
                      <label class="col-sm-2 control-label">Patient Name</label>
                      <div class="col-sm-3">
                        <input id="txtPatientName" name="txtPatientName" maxlength="255" type="text" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Order Status</label>
                      <div class="col-sm-3">
                        <select name="txtAdress" id="txtAdress" class="form-control ">
                          <option *ngFor="let item of statusList" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <label class="col-sm-2 control-label">Production Date</label>
                      <div class="col-sm-3">
                        <dx-date-box style="width: 100%;" [openOnFieldClick]="true" [acceptCustomValue]="false" class="form-control cus-datebox" type="date" displayFormat="dd-MM-yyyy"></dx-date-box>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-footer">
            <div class="ibox-footer-right">
              <button title="Search" (click)="clickSearch()" class="btn btn-success btn-md mr-10" *ngIf="menuPermissions.view">
                <span>Search</span>
              </button>
              <button title="Clear" (click)="clickClear()" class="btn btn-default btn-md" *ngIf="menuPermissions.view">
                <span>Clear</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="ibox mb-0">
        <div class="ibox-bg" style="box-shadow : none !important">
          <div class="ibox-heading-total">
            <h5 class="ibox-title-text">{{textTotal}}</h5>
          </div>
          <div class="ibox-body">
            <!--[selectedRowKeys]="selectRowKeyId" (onInitialized)="onInitialized($event)" (onSelectionChanged)="selectRow($event)"-->
            <div class="table-responsive table-wrapper">
              <dx-data-grid #gridDataPendingOrders id="gridDataPendingOrders" [(dataSource)]="dataPendingOrders" showBorders="false" [hoverStateEnabled]="true" noDataText="No data" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [allowColumnResizing]="true" [(hint)]="hoverTootip" (onCellPrepared)="onCellPrepared($event)" (onCellHoverChanged)="onCellHoverChanged($event)" class="card-list-table">
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-paging [pageSize]="dxgridPageSize" [pageIndex]="pageIndex"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="allowedPageSizes" [showInfo]="false" [visible]="true" [showNavigationButtons]="true">
                </dxo-pager>
                <dxo-scrolling showScrollbar="onHover"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-remote-operations [sorting]="true" [paging]="true">
                </dxo-remote-operations>

                <!--<dxi-column dataField="no" dataType="number" caption="No." alignment="left" width="10%"></dxi-column>-->
                <dxi-column caption="No" cellTemplate="cellTemplateNo" [allowSorting]="false" [width]="50" alignment="center"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplateNo'" style="text-align: center;">
                  <span>{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}</span>
                </div>
                
                <dxi-column dataField="orderId" dataType="string" caption="Order ID" alignment="center"></dxi-column>
                <dxi-column dataField="hn" dataType="string" caption="HN"></dxi-column>
                <dxi-column dataField="patientName" dataType="string" caption="Patient Name"></dxi-column>
                <dxi-column dataField="productionStart" dataType="string" caption="Production Start (Date/Time)"></dxi-column>
                <dxi-column dataField="ProductionEnd" dataType="string" caption="Production End (Date/Time)"></dxi-column>
                <dxi-column dataField="orderStatus" dataType="string" caption="Order Status"></dxi-column>
                <dxi-column dataField="" dataType="string" caption="Action" cellTemplate="cellTemplateViewGroups" [width]="90" alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplateViewGroups';let i=index;">

                  <!-- <a [routerLink]="['/master-data-management/bin', data.data.id ,'view']"  id="btnView{{i}}" class="btn btn-default icon btn-sm mr-5" data-toggle="tooltip" data-placement="top" title="View"><i class="fas fa-eye"></i></a> -->
                  <!-- <span *ngIf="!data.data.isDisbled"> -->
                  <span>
                    <a *ngIf="data.data.orderStatus !== 'Printed'" [routerLink]="['/order-management/orders-production-pharmacist-view',data.data.orderId,'view']" id="btnView{{i}}" class="btn btn-default icon btn-sm" data-toggle="tooltip" data-placement="top" title="View">
                      <i class="fas fa-eye"></i>
                    </a>

                    <a *ngIf="data.data.orderStatus === 'Production Booked'" id="btnReservation{{i}}" class="btn btn-default icon btn-sm" data-toggle="tooltip" data-placement="top" title="Booking" (click)="fnClickChangeBooking(data.data.orderId)">
                      <i class="fas fa-calendar"></i>
                    </a>
                    <a *ngIf="data.data.orderStatus === 'Printed'" [routerLink]="['/order-management/orders-production-pharmacist-view', data.data.orderId,'view']" id="btnReservation{{i}}" class="btn btn-default icon btn-sm" data-toggle="tooltip" data-placement="top" title="Second check">
                      <i class="fas fa-check-double"></i>
                    </a>
                    <button *ngIf="data.data.orderStatus === 'First Review Done'" id="btnSplitProduction{{i}}" class="btn btn-default icon btn-sm" data-toggle="tooltip" data-placement="top" title="Split Production" (click)="fnClickSplitProduction(data.data.orderId)">
                      <img src="assets/icon-md/c17.svg" style="height: 21px; margin-top: -3px;" alt="">
                    </button>
                  </span>

                </div>
              </dx-data-grid>
            </div>
          </div>
          <!--End List-->
        </div>
        <!--End ibox-content-->
      </div>
      <!--End ibox-->
    </div>
    <!--End col-sm-12-->
  </div>
  <!--End row-->
</div>
<!--End Wrapper-->

<app-alert #myModal (onOkDelete)="onOkDelete()" (onCancelDelete)="onCancelDelete()" (onCloseModalError)="onCloseModalError()" (onOkReOrderModal)="onOkReOrder()" (onOkChangeBooking)="onOkChangeBooking()"></app-alert>
<app-alert-split-production #modalSplitProduction></app-alert-split-production>