@media print {
  html, body {
      height: max-content !important;
      overflow-y: visible !important;
      padding: 10px;
    }

    .table {
      margin-bottom: 0px !important;
    }
    @page {
      size: portrait
    }
}

@page {
  margin: 0mm;
}
