<div class="row" style="width: 50%" *ngIf="loading">
  <div class="spiner-example-detail">
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>
  </div>
</div>
<div class="row wrapper white-bg page-heading bgnone" *ngIf="!loading">
  <div class="soc-breadcrumb">
    <div class="row">
      <div class="col-md-6 col-xs-12 align-self-center">
        <h4 class="soc-title">Orders</h4>
        <div class="d-flex align-items-center" style="margin-top: -10px;">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a (click)="goHomeMenu()"><i class="fas fa-folder-open mr-10"></i>Order Management</a>
              </li>
              <li class="breadcrumb-item">
                <a (click)="onClickBack()">Orders</a>
              </li>
              <li class="breadcrumb-item active">
                <span> Queue Management </span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 align-self-center text-right">
        <button *ngIf="pageType != 'view'" (click)="fnSave()" id="btnSave" name="btnSave"
                class="btn btn-success float-xs-left mr-10" title="Save"
                [disabled]="disbledBtn.save || isDisableSave()">
          <i class="fas fa-save"></i><span>Save</span>
        </button>
        <button (click)="onClickBack()" id="btnCancelTop" name="btnCancelTop" class="btn btn-default float-xs-right"
                data-toggle="tooltip" data-placement="top" title="Cancel" style="margin-left: 3px;"
                [disabled]="disbledBtn.cancel">
          <i class="fal fa-times"></i><span>Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content-custom  animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox mb-0">
        <div class="ibox-bg">
          <div class="ibox-heading">
            <h5 class="ibox-title-text">Queue Management</h5>
          </div>
          <div class="ibox-body">
            <div class="panel-body">
              <!--Patient Info-->
              <div class="row">
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content" style="border:0px;">
                      <div
                        style="background-color: #F9F7F2 !important; width: 100%;margin-bottom: 20px; padding: 20px;">
                        <label style="font-size: 18px;"> Patient Info </label>
                        <div class="hr-line-solid"
                             style="margin-top: 10px !important; margin-bottom: 30px !important; color: #AE934F!important;">
                        </div>
                        <form class="form-horizontal" [formGroup]="patientInfoForm">
                          <!--HN-->
                          <div class="form-group"><label class="col-sm-3 control-label">HN</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtHn" name="txtHn" maxlength="50"
                                     [(ngModel)]="patientInfo.hn" formControlName="txtHn">
                            </div>
                          </div>
                          <!--Patient Name-->
                          <div class="form-group"><label class="col-sm-3 control-label">Patient Name</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtPatientName" name="txtPatientName"
                                     maxlength="255" [(ngModel)]="patientInfo.patientName"
                                     formControlName="txtPatientName">
                            </div>
                          </div>
                          <!--Phone-->
                          <div class="form-group"><label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtPhone" name="txtPhone" maxlength="255"
                                     [(ngModel)]="patientInfo.phone" formControlName="txtPhone">
                            </div>
                          </div>
                          <!--Address-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-4">
                              <textarea class="form-control" id="txtAddress" name="txtAddress"
                                        formControlName="txtAddress" rows="3" [(ngModel)]="patientInfo.addressShow"
                                        style="resize: vertical"></textarea>
                            </div>
                          </div>
                          <!--District/Province-->
                          <div class="form-group"><label class="col-sm-3 control-label">District/Province</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtDistrictProvince"
                                     name="txtDistrictProvince" maxlength="255"
                                     [(ngModel)]="patientInfo.districtProvince" formControlName="txtDistrictProvince">
                            </div>
                          </div>
                          <!--Postcode-->
                          <div class="form-group"><label class="col-sm-3 control-label">Postcode</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtPostcode" name="txtPostcode"
                                     maxlength="255" [(ngModel)]="patientInfo.postcode" formControlName="txtPostcode">
                            </div>
                          </div>
                          <!--Contact Person-->
                          <div class="form-group"><label class="col-sm-3 control-label">Contact Person</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtContactPerson" name="txtContactPerson"
                                     maxlength="255" [(ngModel)]="patientInfo.contactPerson"
                                     formControlName="txtContactPerson">
                            </div>
                          </div>
                          <!--Item-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">
                              Item
                              <span class="fontred">*</span>
                            </label>
                            <div
                              [ngClass]="{'has-error':!patientInfoForm.controls.ddlItem.valid&&patientInfoForm.controls.ddlItem.dirty,'col-sm-4':true}">
                              <select name="ddlItem" id="ddlItem" formControlName="ddlItem" class="form-control"
                                      [(ngModel)]="patientInfo.item">
                                <option selected="selected" [value]="null">Please select</option>
                                <option *ngFor="let item of patientItemList" [value]="item.id">{{ item.name }}</option>
                              </select>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="stepper-wrapper">
                <div class="stepper-item" *ngFor="let item of stepList; index as i;"
                     [ngClass]="{'completed': item.isCompleted, 'active': i === currentIndex}">
                  <div class="step-counter" (click)="onClickStep(i)">
                    <img *ngIf="item.isCompleted" src="assets/icon-md/c18-white.svg" style="height: 25px;" alt="">
                    <img *ngIf="!item.isCompleted" src="assets/icon-md/c18-black.svg" style="height: 25px;" alt="">
                  </div>
                  <div class="step-name" (click)="onClickStep(i)"
                       [ngClass]="{'font-bold': i === currentIndex}">{{item.title}}</div>
                  <div class="step-name" style="color: red;" (click)="onClickStep(i)"
                       [ngClass]="{'font-bold': i === currentIndex}">{{item.suggestDate}}</div>
                </div>

              </div>
              <!--Booking-->
              <div class="row">
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content" style="border:0px;">
                      <div
                        style="background-color: #F9F7F2 !important; width: 100%;margin-bottom: 20px; padding: 20px;">
                        <div class="row">
                          <div class="col-sm-12"><label style="font-size: 18px;"> Booking </label></div>
                        </div>
                        <div class="hr-line-solid" style="margin-top: 10px !important; color: #AE934F!important;">
                        </div>
                        <div class="row" style="margin-bottom: 10px !important;" *ngIf="isChangeBookingMode">
                          <div class="col-sm-12" style="font-weight: 700;color: #FF0000;font-size: 18px;">
                            Remark : Before making a new booking, please cancel the previous one.
                          </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px !important;">
                          <div class="col-sm-12" style="font-weight: 700;color: #FF0000;font-size: 18px;">
                            Note : Please check the details on the Master data - production schedule page if you are
                            unable to select the booking time.
                          </div>
                        </div>
                        <div *ngFor="let item of remarkMsg; index as i">
                          <div *ngIf="i === 0" class="row" style="margin-bottom: 10px !important;">
                            <div style="margin-left:15px;font-weight: 700;color: #FF0000;font-size: 18px; float:left;">
                              Remark : {{item}}
                            </div>
                          </div>
                          <div *ngIf="i !== 0" class="row" style="margin-bottom: 10px !important;">
                            <div style="margin-left:96px; font-weight: 700;color: #FF0000;font-size: 18px;">
                              {{item}}
                            </div>
                          </div>
                        </div>
                        <div *ngIf="showScheduler">
                          <dx-scheduler id="schedulerReservationBooking" timeZone="Asia/Bangkok"
                                        [dataSource]="appointmentsData" currentView="Week" [currentDate]="currentDate"
                                        [groupByDate]="true" [startDayHour]="startDayHour" [endDayHour]="endDayHour"
                                        [groups]="['priorityId']" [crossScrollingEnabled]="true"
                                        [showAllDayPanel]="false"
                                        [timeCellTemplate]="timeCellTemplate" dataCellTemplate="dataCellTemplate"
                                        dateCellTemplate="dateCellTemplate" [maxAppointmentsPerCell]="1"
                                        [showCurrentTimeIndicator]="false" appointmentTooltipTemplate="tooltip-template"
                                        [firstDayOfWeek]="1"
                                        (onInitialized)="onInitialized($event)"
                                        (onOptionChanged)="onOptionChanged($event)"
                                        (onAppointmentRendered)="onAppointmentRendered($event)"
                                        (onAppointmentDblClick)="onAppointmentDblClick($event)"
                                        (onAppointmentClick)="onAppointmentClick($event)"
                                        (onAppointmentUpdating)="onAppointmentUpdating($event)">
                            <dxi-view type="week" name="Week" [maxAppointmentsPerCell]="1"></dxi-view>
                            <dxi-resource [dataSource]="prioritiesData" fieldExpr="priorityId" label="Priority"
                                          [allowMultiple]="false">
                            </dxi-resource>
                            <dxo-editing [allowAdding]="false" [allowDeleting]="false" [allowResizing]="false">
                            </dxo-editing>
                            <dxo-appointment-dragging [onDragStart]="onDragStart">
                            </dxo-appointment-dragging>
                            <div *dxTemplate="let dataCell of 'dataCellTemplate'"
                                 [ngClass]="{ 'disable-date': isDisableDate(dataCell)}">
                            </div>
                            <div *dxTemplate="let dateCell of 'dateCellTemplate'">
                              {{ dateCell.text }}
                            </div>
                            <div *dxTemplate="let model of 'tooltip-template'" class="ml-15">
                              <div class="col-sm-12 text-left mb-5 mt-20">
                                <span class="pr-5 font-bold">HN</span>
                                <span class="pr-5 font-bold">:</span>
                                <span>{{model.appointmentData.data.hn}}</span>
                              </div>
                              <div class="col-sm-12 text-left mb-5">
                                <span class="pr-5 font-bold">Name</span>
                                <span class="pr-5 font-bold">:</span>
                                <span>{{model.appointmentData.data.name}}</span>
                              </div>
                              <div class="col-sm-12 text-left mb-20">
                                <span class="pr-5 font-bold">Supply Day</span>
                                <span class="pr-5 font-bold">:</span>
                                <span>{{model.appointmentData.data.supplyDay}}</span>
                              </div>
                            </div>
                          </dx-scheduler>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Supplement Detail-->
              <div class="row">
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content" style="border:0px;">
                      <div
                        style="background-color: #F9F7F2 !important; width: 100%;margin-bottom: 20px; padding: 20px;">
                        <label style="font-size: 18px;"> Supplement Confirmation </label>
                        <div class="hr-line-solid"
                             style="margin-top: 10px !important; margin-bottom: 30px !important; color: #AE934F!important;">
                        </div>
                        <form class="form-horizontal" [formGroup]="supplementDetailForm">
                          <!--Confirmed Days-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">
                              Confirmed Days
                              <span class="fontred">*</span>
                            </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtConfirmedDays" name="txtConfirmedDays"
                                     maxlength="50" [(ngModel)]="supplementDetail.confirmedDays"
                                     formControlName="txtConfirmedDays">
                            </div>
                          </div>
                          <!--Slot No.-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">
                              Slot No.
                              <span class="fontred">*</span>
                            </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtSlotNo" name="txtSlotNo" maxlength="255"
                                     [(ngModel)]="supplementDetail.slotNo" formControlName="txtSlotNo">
                            </div>
                          </div>
                          <!--Production End (Date)-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">
                              Production End (Date)
                              <span class="fontred">*</span>
                            </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtProductionEndDate"
                                     name="txtProductionEndDate" maxlength="255"
                                     [(ngModel)]="supplementDetail.productionEndDate"
                                     formControlName="txtProductionEndDate">
                            </div>
                          </div>
                          <!--Production End (Time)-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">
                              Production End (Time)
                              <span class="fontred">*</span>
                            </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtProductionEndTime"
                                     name="txtProductionEndTime" maxlength="255"
                                     [(ngModel)]="supplementDetail.productionEndTime"
                                     formControlName="txtProductionEndTime">
                            </div>
                          </div>
                          <!--Std. Production Hour-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">
                              Std. Production Hour
                              <span class="fontred">*</span>
                            </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtProductionHour" name="txtProductionHour"
                                     maxlength="255" [(ngModel)]="supplementDetail.stdProductionHour"
                                     formControlName="txtProductionHour">
                            </div>
                          </div>
                          <!--Start (Date/Time)-->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">
                              Start (Date/Time)
                              <span class="fontred">*</span>
                            </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="txtStartDateTime" name="txtStartDateTime"
                                     maxlength="255" [(ngModel)]="supplementDetail.startDateTime"
                                     formControlName="txtStartDateTime">
                            </div>
                          </div>
                          <!--Additional Note-->
                          <div class="form-group"><label class="col-sm-3 control-label">Additional Note</label>
                            <div class="col-sm-4">
                              <textarea class="form-control" id="txtAdditionalNote" name="txtAdditionalNote"
                                        formControlName="txtAdditionalNote" rows="3"
                                        [(ngModel)]="supplementDetail.additionalNote"
                                        style="resize: vertical"></textarea>
                            </div>
                          </div>
                          <div class="hr-line-dashed"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Delivery Detail-->
              <div class="row">
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content text-center" style="border:0px;">
                      <div class="text-left"
                           style="background-color: #F9F7F2 !important; width: 100%;margin-bottom: 20px; padding: 20px;">
                        <div class="row">
                          <div class="col-sm-12"><label style="font-size: 18px;"> Delivery Detail </label></div>
                        </div>
                        <div class="hr-line-solid"
                             style="margin-top: 10px !important; margin-bottom: 30px !important; color: #AE934F!important;">
                        </div>
                        <form class="form-horizontal" [formGroup]="deliveryDetailForm">
                          <div formArrayName="deliveryDetail">
                            <div *ngFor="let item of deliveryForm.controls; index as i">
                              <div *ngIf="i === currentIndex" [formGroupName]="i">
                                <!--Recipient Name-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Recipient Name
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.txtDeliveryRecipientName.valid&&item.controls.txtDeliveryRecipientName.dirty,'col-sm-4':true}">
                                    <input type="text" class="form-control" id="txtDeliveryRecipientName"
                                           name="txtDeliveryRecipientName" maxlength="255"
                                           [(ngModel)]="deliveryDetail[i].recipientName"
                                           formControlName="txtDeliveryRecipientName">
                                  </div>
                                </div>
                                <!--Phone-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Phone
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.txtDeliveryPhone.valid&&item.controls.txtDeliveryPhone.dirty,'col-sm-4':true}">
                                    <input type="text" class="form-control" id="txtDeliveryPhone"
                                           name="txtDeliveryPhone" maxlength="50" [(ngModel)]="deliveryDetail[i].phone"
                                           formControlName="txtDeliveryPhone">
                                  </div>
                                </div>
                                <!--Address-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Address
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.ddlDeliveryAddress.valid&&item.controls.ddlDeliveryAddress.dirty,'col-sm-4':true}">
                                    <select name="ddlDeliveryAddress" id="ddlDeliveryAddress"
                                            formControlName="ddlDeliveryAddress" class="form-control"
                                            [(ngModel)]="deliveryDetail[i].patientAddressId"
                                            (change)="onClickDeliveryDetailAddress(i)">
                                      <option selected="selected" [value]="null">Please select</option>
                                      <option *ngFor="let item of addressList" [value]="item.patientAddressId">{{
                                          item.concatAddress }}</option>
                                    </select>
                                    <div *ngIf="addressList.length === 0" style="color:red;font-weight: 700;">Please
                                      update address details on the Master data - Patient page.
                                    </div>
                                  </div>
                                </div>
                                <!--Address Detail-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">Address Detail</label>
                                  <div class="col-sm-4">
                                    <textarea class="form-control" id="txtDeliveryAddressDetail"
                                              name="txtDeliveryAddressDetail" formControlName="txtDeliveryAddressDetail"
                                              rows="3" [(ngModel)]="deliveryDetail[i].addressShow"
                                              style="resize: vertical"></textarea>
                                  </div>
                                </div>
                                <!--District/Province-->
                                <div class="form-group"><label class="col-sm-3 control-label">District/Province</label>
                                  <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtDeliveryDistrictProvince"
                                           name="txtDeliveryDistrictProvince" maxlength="255"
                                           [(ngModel)]="deliveryDetail[i].districtProvince"
                                           formControlName="txtDeliveryDistrictProvince">
                                  </div>
                                </div>
                                <!--Postcode-->
                                <div class="form-group"><label class="col-sm-3 control-label">Postcode</label>
                                  <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtDeliveryPostcode"
                                           name="txtDeliveryPostcode" maxlength="255"
                                           [(ngModel)]="deliveryDetail[i].postcode"
                                           formControlName="txtDeliveryPostcode">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-3 control-label"></label>
                                  <label class="col-sm-4" style="color:red">Remark : Entering the postcode is necessary
                                    if the delivery method is Thai Post, DHL,Aramex, Other. Please update the data on
                                    the patient master data if the data you choose does not include a postcode.</label>
                                </div>
                                <!--Delivery Date-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Delivery Date
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.txtDeliveryDate.valid&&item.controls.txtDeliveryDate.dirty,'col-sm-4':true}">
                                    <dx-date-box [openOnFieldClick]="true" [acceptCustomValue]="false"
                                                 style="width: 100%;" id="txtDeliveryDate"
                                                 class="form-control cus-datebox" type="date" displayFormat="dd/MM/yyyy"
                                                 [min]="minDeliveryDate" (onValueChanged)="deliveryDateValueChange(i, deliveryDetail[i].arrivalTime)"
                                                 [(ngModel)]="deliveryDetail[i].deliveryDate"
                                                 formControlName="txtDeliveryDate">
                                    </dx-date-box>
                                    <div>
                                      <label style="color:red">Note : Initial delivery detail. The delivery date would be
                                        {{initialDeliveryDate}}
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <!--Arrival Time-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Arrival Time
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.ddlDeliveryArrivalTime.valid&&item.controls.ddlDeliveryArrivalTime.dirty,'col-sm-4':true}">
                                    <div class="select-wrapper">
                                      <select name="ddlDeliveryArrivalTime" id="ddlDeliveryArrivalTime"
                                              formControlName="ddlDeliveryArrivalTime"
                                              [title]="deliveryDetail[i].arrivalTime" class="form-control"
                                              [(ngModel)]="deliveryDetail[i].arrivalTime">
                                        <option selected="selected" [value]="null">Please select</option>
                                        <option *ngFor="let item of deliveryDetail[i].arrivalTimeList" [value]="item.id">{{ item.name }}
                                        </option>
                                      </select>
                                      <div>
                                        <label style="color:red">Note : Initial delivery detail. The arrival time would be
                                          {{initialArrivalTime}}
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!--Delivery Method-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Delivery Method
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.ddlDeliveryMethod.valid&&item.controls.ddlDeliveryMethod.dirty,'col-sm-4':true}">
                                    <div class="select-wrapper">
                                      <select name="ddlDeliveryMethod" id="ddlDeliveryMethod"
                                              formControlName="ddlDeliveryMethod"
                                              [title]="deliveryDetail[i].deliveryMethod" class="form-control"
                                              [(ngModel)]="deliveryDetail[i].deliveryMethod">
                                        <option selected="selected" [value]="null">Please select</option>
                                        <option *ngFor="let item of deliveryMethodList" [value]="item.id">{{ item.name
                                          }}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <!--Delivery Method Other-->
                                <div class="form-group" *ngIf="+deliveryDetail[i].deliveryMethod === 6">
                                  <label class="col-sm-3 control-label">
                                    Delivery Method Other
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.txtDeliveryMethodOther.valid&&item.controls.txtDeliveryMethodOther.dirty,'col-sm-4':true}">
                                    <input type="text" class="form-control" id="txtDeliveryMethodOther"
                                           name="txtDeliveryMethodOther" maxlength="255"
                                           [(ngModel)]="deliveryDetail[i].deliveryMethodOther"
                                           formControlName="txtDeliveryMethodOther">
                                  </div>
                                </div>
                                <!--Packaging-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Packaging
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.ddlDeliveryPackaging.valid&&item.controls.ddlDeliveryPackaging.dirty,'col-sm-4':true}">
                                    <div class="select-wrapper">
                                      <select name="ddlDeliveryPackaging" id="ddlDeliveryPackaging"
                                              formControlName="ddlDeliveryPackaging" class="form-control"
                                              [(ngModel)]="deliveryDetail[i].packaging">
                                        <option selected="selected" [value]="null">Please select</option>
                                        <option *ngFor="let item of packagingList" [value]="item.id">{{ item.name }}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <!--Documentation-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Documentation
                                  </label>
                                  <div class="col-sm-4">
                                    <dx-check-box name="cbxDeliveryDocumentationInvoice"
                                                  id="cbxDeliveryDocumentationInvoice"
                                                  formControlName="cbxDeliveryDocumentationInvoice" class="mb-5"
                                                  [(ngModel)]="deliveryDetail[i].isInvoice" text="Invoice">
                                    </dx-check-box>
                                    <br>
                                    <dx-check-box name="cbxDeliveryDocumentationReceipt"
                                                  id="cbxDeliveryDocumentationReceipt"
                                                  formControlName="cbxDeliveryDocumentationReceipt"
                                                  [(ngModel)]="deliveryDetail[i].isReceipt" text="Receipt">
                                    </dx-check-box>
                                  </div>
                                </div>
                                <!--Cashier Name-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Cashier Name
                                    <span class="fontred">*</span>
                                  </label>
                                  <div
                                    [ngClass]="{'has-error':!item.controls.ddlDeliveryCashierName.valid&&item.controls.ddlDeliveryCashierName.dirty,'col-sm-4':true}">
                                    <div class="select-wrapper">
                                      <select name="ddlDeliveryCashierName" id="ddlDeliveryCashierName"
                                              formControlName="ddlDeliveryCashierName" class="form-control"
                                              [(ngModel)]="deliveryDetail[i].cashierId">
                                        <option selected="selected" [value]="null">Please select</option>
                                        <option *ngFor="let item of cashierList" [value]="item.userId">
                                          {{item.firstname}}&nbsp;{{item.lastname}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <!--Urgent-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">
                                    Urgent
                                  </label>
                                  <div class="col-sm-4">
                                    <dx-check-box name="cbxDeliveryIsUrgent" id="cbxDeliveryIsUrgent"
                                                  formControlName="cbxDeliveryIsUrgent"
                                                  [(ngModel)]="deliveryDetail[i].isUrgent" text="Urgent">
                                    </dx-check-box>
                                  </div>
                                </div>
                                <!--Additional Note-->
                                <div class="form-group">
                                  <label class="col-sm-3 control-label">Additional Note</label>
                                  <div class="col-sm-4">
                                    <textarea class="form-control" id="txtDeliveryCashierDeliNote"
                                              name="txtDeliveryCashierDeliNote"
                                              formControlName="txtDeliveryCashierDeliNote" rows="3"
                                              [(ngModel)]="deliveryDetail[i].cashierDeliNote"
                                              style="resize: vertical"></textarea>
                                  </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <button id="btnNext" style="padding: 5px 20px !important;"
                              *ngIf="currentIndex < (this.stepList.length-1)" class="btn btn-success"
                              data-toggle="tooltip" data-placement="top" title="Next" (click)="onClickNext()">Next
                      </button>
                      <!-- <button id="btnSaveStep" style="padding: 5px 20px !important;" *ngIf="currentIndex === (this.stepList.length-1)" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Save" (click)="onClickNext()">Save -->
                      <!-- </button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-footer no-bg">
            <div class="ibox-footer-right">
              <button *ngIf="pageType != 'view'" (click)="fnSave()" id="btnSave" name="btnSave"
                class="btn btn-success float-xs-left mr-10" title="Save"
                [disabled]="disbledBtn.save || isDisableSave()">
                <i class="fas fa-save"></i><span>Save</span>
              </button>
              <button (click)="onClickBack()" id="btnCancelTop" name="btnCancelTop" class="btn btn-default float-xs-right"
                      data-toggle="tooltip" data-placement="top" title="Cancel" style="margin-left: 3px;"
                      [disabled]="disbledBtn.cancel">
                <i class="fal fa-times"></i><span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alert #myModal (onClickBack)="onClickBack()" (onCloseModalError)="onCloseModalError()" (onOk)="onClickOk()"
           (onCloseModalWarning)="onCloseModalWarning()"
           (onConfirmUrgentRequest)="onConfirmUrgentRequest($event)"></app-alert>