<div class="row" style="width: 50%" *ngIf="loading">
  <div class="spiner-example-detail">
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>
  </div>
</div>
<div class="row wrapper white-bg page-heading bgnone" *ngIf="!loading">
  <div class="soc-breadcrumb">
    <div class="row">
      <div class="col-md-8 col-xs-12 align-self-center">
        <h4 class="soc-title">Production Summary</h4>
        <div class="d-flex align-items-center" style="margin-top: -10px;">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a (click)="goHomeMenu()"><i class="fas fa-folder-open mr-10"></i>Production Summary</a>
              </li>
              <li class="breadcrumb-item active">
                <span> Dashboard </span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="wrapper wrapper-content-custom  animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox mb-0">
        <div class="ibox-bg">
          <div class="ibox-body">
            <div id="tab-1" class="tab-pane active">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                      <div class="ibox-content" style="border:0px; width: 95%; margin:auto">
                        <form class="form-horizontal" style="float: right;">
                          <div class="form-group" style="display: inline-flex;">
                            <label class="control-label mr-15">Year</label>
                            <div>
                              <dx-date-box style="width: 100%;" [openOnFieldClick]="true" [acceptCustomValue]="false"  (onValueChanged)="this.getApiProductionsummary()"
                                class="form-control cus-datebox" type="date" maxZoomLevel="decade" [(value)]="Mount"
                                minZoomLevel="century" displayFormat="yyyy">
                              </dx-date-box>
                            </div>
                          </div>
                        </form>
                        <table id="tblSummay" class="table table-bordered"
                          style="margin:auto; margin-top: 100px !important">
                          <thead>
                            <tr>
                              <td rowspan="2" class="text-center" style="width: 25%;">Name</td>
                              <td colspan="12" class="text-center">Month</td>
                            </tr>
                            <tr>
                              <td class="text-center">Jan</td>
                              <td class="text-center">Feb</td>
                              <td class="text-center">Mar</td>
                              <td class="text-center">Apr</td>
                              <td class="text-center">May</td>
                              <td class="text-center">Jun</td>
                              <td class="text-center">Jul</td>
                              <td class="text-center">Aug</td>
                              <td class="text-center">Sep</td>
                              <td class="text-center">Oct</td>
                              <td class="text-center">Nov</td>
                              <td class="text-center">Dec</td>
                            </tr>

                            <tr class="bg-brown" >
                              <td >Total</td>
                              <td class="text-center" *ngFor="let totalCase of dataReport.totalCase;">{{totalCase}}</td>
                              <!-- <td class="text-center">218</td>
                              <td class="text-center">236</td>
                              <td class="text-center">308</td>
                              <td class="text-center">251</td>
                              <td class="text-center">290</td>
                              <td class="text-center">200</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr>
                              <td>Supplement</td>
                              <td class="text-center" *ngFor="let supplement of dataReport.supplement;">{{supplement}}</td>
                              <!-- <td class="text-center">213</td>
                              <td class="text-center">228</td>
                              <td class="text-center">303</td>
                              <td class="text-center">247</td>
                              <td class="text-center">282</td>
                              <td class="text-center">196</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr>
                              <td>Pack Med</td>
                              <td class="text-center" *ngFor="let packMed of dataReport.packMed;">{{packMed}}</td>
                              <!-- <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">5</td>
                              <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">4</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr class="bg-grey" style="border-bottom: solid #AE934F 2px !important ;">
                              <td>Average : Case/Day</td>
                              <td class="text-center" *ngFor="let averageCase of dataReport.averageCase;">{{averageCase!=0.0?averageCase:""}}</td>
                              <!-- <td class="text-center">8.7</td>
                              <td class="text-center">9.8</td>
                              <td class="text-center">12.3</td>
                              <td class="text-center">9.7</td>
                              <td class="text-center">11.2</td>
                              <td class="text-center">12.5</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr>
                              <td>Supply Day</td>
                              <td class="text-center" *ngFor="let supplyDay of dataReport.supplyDay;">{{supplyDay}}</td>
                              <!-- <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">5</td>
                              <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">4</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr class="bg-brown">
                              <td>Supply Month</td>
                              <td class="text-center" *ngFor="let supplyMonth of dataReport.supplyMonth;">{{supplyMonth}}</td>
                              <!-- <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">5</td>
                              <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">4</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr>
                              <td>Average : Supply Month/Day</td>
                              <td class="text-center" *ngFor="let averageMonth2D of dataReport.averageMonth2D;">{{averageMonth2D!=0.0?averageMonth2D:""}}</td>
                              <!-- <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">5</td>
                              <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">4</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr class="bg-grey" style="border-bottom: solid #AE934F 2px !important ;">
                              <td>Average : Supply Month/Case</td>
                              <td class="text-center" *ngFor="let averageMonth2Case of dataReport.averageMonth2Case;">{{averageMonth2Case!=0.00?averageMonth2Case:""}}</td>
                              <!-- <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">5</td>
                              <td class="text-center">5</td>
                              <td class="text-center">8</td>
                              <td class="text-center">4</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td> -->
                            </tr>

                            <tr class="bg-brown">
                              <td colspan="13" class="text-center">On-Time</td>
                            </tr>

                            <tr>
                              <td>Number</td>
                              <td class="text-center" *ngFor="let ontimeYes of dataReport.ontimeYes;">{{ontimeYes!=0?ontimeYes:0}}</td>
                            </tr>

                            <tr style="border-bottom: solid #AE934F 2px !important ;">
                              <td>%On-Time</td>
                              <td class="text-center" *ngFor="let percentOntime of dataReport.percentOntime;">{{percentOntime!=0?percentOntime:"0.0"}}</td>
                            </tr>

                            <tr class="bg-brown">
                              <td colspan="13" class="text-center">Delay in Receiving</td>
                            </tr>

                            <tr>
                              <td>Number</td>
                              <td class="text-center" *ngFor="let data of dataReport.delayInReceiving;">{{data}}</td>
                            </tr>

                            <tr style="border-bottom: solid #AE934F 2px !important ;">
                              <td>%Delay in Receiving</td>
                              <td class="text-center" *ngFor="let data of dataReport.percentDelayInReceiving;">{{data}}</td>
                            </tr>

                            <tr class="bg-brown">
                              <td colspan="13" class="text-center">Urgent (Urgent request from cashier)</td>
                            </tr>

                            <tr>
                              <td>Number</td>
                              <td class="text-center" *ngFor="let data of dataReport.urgent;">{{data}}</td>
                            </tr>

                            <tr style="border-bottom: solid #AE934F 2px !important ;">
                              <td>%Urgent</td>
                              <td class="text-center" *ngFor="let data of dataReport.percentUrgent;">{{data}}</td>
                            </tr>

                            <tr class="bg-brown">
                              <td colspan="13" class="text-center">Overscheduled (Add production line)
                              </td>
                            </tr>

                            <tr>
                              <td>Number</td>
                              <td class="text-center" *ngFor="let data of dataReport.overschedule;">{{data}}</td>
                            </tr>

                            <tr style="border-bottom: solid #AE934F 2px !important ;">
                              <td>%Overscheduled</td>
                              <td class="text-center" *ngFor="let data of dataReport.percentOverschedule;">{{data}}</td>
                            </tr>

                            <tr class="bg-brown">
                              <td colspan="13" class="text-center">Overtime (Add production time)
                              </td>
                            </tr>

                            <tr>
                              <td>Number</td>
                              <td class="text-center" *ngFor="let data of dataReport.overtime;">{{data}}</td>
                            </tr>

                            <tr style="border-bottom: solid #AE934F 2px !important ;">
                              <td>%Overtime </td>
                              <td class="text-center" *ngFor="let data of dataReport.percentOvertime;">{{data}}</td>
                            </tr>
                          </thead>
                        </table>

                        <div class="hr-line-light" style="margin-top: 80px !important;">
                        </div>

                        <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">Production Case</label>
                        </div>

                        <div id="chart-demo">
                          <dx-chart [dataSource]="valuePerMonth">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div>

                        <div class="hr-line-light" style="margin-top: 60px !important;">
                        </div>

                        <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">Supply Month</label>
                        </div>

                        <div id="chart-demo">
                          <dx-chart [dataSource]="valueSupplyMonth">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div>

                        <div class="hr-line-light" style="margin-top: 60px !important;">
                        </div>

                        <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">%On-Time</label>
                        </div>
                        <div id="onTimeChart">
                          <dx-chart [dataSource]="OnTimeChart">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div>

                        <div class="hr-line-light" style="margin-top: 60px !important;">
                        </div>

                        <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">%Delay in Receiving
                          </label>
                        </div>
                        <div id="delayChart">
                          <dx-chart [dataSource]="delayChart">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div>

                        <div class="hr-line-light" style="margin-top: 60px !important;">
                        </div>

                        <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">%Urgent</label>
                        </div>

                        <div id="urgentChart">
                          <dx-chart [dataSource]="valueUrgent">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div>

                        <div class="hr-line-light" style="margin-top: 60px !important;">
                        </div>

                        

                        <!-- <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">Number</label>
                        </div>

                        <div id="numberChart">
                          <dx-chart [dataSource]="numberChart">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div> -->

                        <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">%Overscheduled
                          </label>
                        </div>

                        <div id="overscheduleChart">
                          <dx-chart [dataSource]="valueOverSchedule">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div>

                        <div style="width: 100%;margin: 50px 0; padding:5px 20px;border-left:2px solid #AE934F">
                          <label style="margin-right: 15px;font-weight: 600;font-size: 18px;">%Overtime</label>
                        </div>

                        <div id="overscheduleChart">
                          <dx-chart [dataSource]="valueOverTime">
                            <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value"
                              [name]="energy.name" color="#AE934F">
                              <dxo-label [visible]="true" [customizeText]="customizeText"></dxo-label>
                            </dxi-series>
                            <dxo-common-series-settings #seriesSettings argumentField="month">
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                              <dxo-grid [visible]="false"></dxo-grid>
                            </dxo-argument-axis>
                            <dxo-legend [visible]="false">
                            </dxo-legend>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                          </dx-chart>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alert #myModal (onClickBack)="onClickBack()" (onCloseModalError)="onCloseModalError()"
  (onCloseModalWarning)="onCloseModalWarning()"></app-alert>